/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* estilos importados do Bootstrap4/5 */
.text-secondary {color: #6c757d !important;}
.text-primary {color: #007bff !important;}
.text-success {color: #28a745 !important;}
.text-info {color: #17a2b8 !important;}
.text-muted {color: #6c757d !important;}
.text-warning {color: #ffc107 !important;}
.text-danger {color: #dc3545 !important;}
.text-dark {color: #343a40 !important;}

.content-app{  
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header.header, footer.footer {
    height: 100%;
    flex-shrink: 0;
}
app-main{flex: 1 0 auto;}